@import url(c:\wamp64\www\nilton_santos\node_modules\flexslider\flexslider.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,800,900");
@import url(http://weloveiconfonts.com/api/?family=typicons|zocial);
@import url(http://flexslider.woothemes.com/css/flexslider.css);
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

textarea[placeholder] {
  text-overflow: ellipsis;
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

input[placeholder] {
  text-overflow: ellipsis;
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  text-overflow: ellipsis;
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

input::-webkit-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

textarea::-webkit-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

textarea:-ms-input-placeholder {
  color: #eaeaea;
  opacity: 1;
  font-weight: 300;
}

.flex, body.pg-interna .mask, #webdoor .flex-control-nav.flex-control-paging, #content #agenda, #content .noticia#noticia-principal, #content #loja .container, .ingresso > div:first-child, .ingresso > div:first-child [class*="col"]:first-child, .v-center, .banner--interno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

[class*="typicons-"]:before {
  font-family: 'typicons', sans-serif;
}

.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  top: -8px;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.tcon > * {
  display: block;
}

.tcon:hover, .tcon:focus {
  outline: none;
}

.tcon::-moz-focus-inner {
  border: 0;
}

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #ffba00;
  position: relative;
}

.tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #ffba00;
  content: '';
  position: absolute;
  left: 0;
  transform-origin: 2.85714px center;
  width: 100%;
}

.tcon-menu__lines::before {
  top: 10px;
}

.tcon-menu__lines::after {
  top: -10px;
}

.tcon-transform .tcon-menu__lines {
  transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xbutterfly {
  width: auto;
}

.tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
  transform-origin: 50% 50%;
  transition: top .3s .6s ease, transform .3s ease;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
  background: transparent;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
  top: 0;
  transition: top .3s ease, transform .3s .5s ease;
  width: 40px;
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@-webkit-keyframes top-opacity {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-moz-keyframes top-opacity {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-ms-keyframes top-opacity {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes bottom-opacity {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-moz-keyframes bottom-opacity {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-ms-keyframes bottom-opacity {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes left-to-right {
  0% {
    left: -300px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes left-to-right__min {
  0% {
    left: -5px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-moz-keyframes left-to-right {
  0% {
    left: -300px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-ms-keyframes left-to-right {
  0% {
    left: -300px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes right-to-left {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-moz-keyframes right-to-left {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-ms-keyframes right-to-left {
  0% {
    right: -300px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

#wrap, html, body {
  background-color: #171717;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body.pg-interna #wrap {
  background-image: url(./assets/css/img/bg-interna.jpg);
}

body.pg-interna.pg-como-chegar #page--title {
  font-size: 7.5vw;
  margin-bottom: -4vw;
}

body.pg-interna.pg-como-chegar #mapa {
  margin-top: -20px;
}

body.pg-interna.pg-noticias #page--title {
  font-size: 12vw;
  margin-bottom: -7vw;
}

body.pg-interna.pg-camarotes #page--title {
  font-size: 8.5vw;
  margin-bottom: -4vw;
}

body.pg-interna.pg-loja-oficial #page--title {
  font-size: 8.5vw;
  margin-bottom: -4vw;
}

body.pg-interna.pg-eventos #page--title {
  font-size: 12vw;
  margin-bottom: -6vw;
}

body.pg-interna.pg-historia #page--title {
  font-size: 12vw;
  margin-bottom: -7vw;
}

body.pg-interna.pg-estatisticas #page--title {
  font-size: 8vw;
  margin-bottom: -4vw;
}

body.pg-interna.pg-cadeiras-personalizadas #page--title {
  font-size: 10.5vw;
  margin-bottom: -5vw;
}

body.pg-interna.pg-ingressos #page--title {
  font-size: 10vw;
  margin-bottom: -5vw;
}

body.pg-interna .mask {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  margin-left: -22px;
  margin-right: -22px;
  text-align: center;
  height: 25vw;
}

body.pg-interna .mask [class*="container"] {
  background-color: transparent !important;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

body.pg-interna .mask [class*="container"] h1, body.pg-interna .mask [class*="container"] .banner--interno h2, .banner--interno body.pg-interna .mask [class*="container"] h2 {
  color: rgba(255, 255, 255, 0.2);
  font-size: 8vw;
  line-height: 24vw;
}

body * {
  line-height: initial;
  position: relative;
}

body #wrap {
  background-image: url(./assets/css/img/bg-home.jpg);
  background-color: #0a0a0a;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  z-index: 2;
}

body #wrap::before, body #wrap::after {
  background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0%, #0a0a0a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%, #0a0a0a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0%, #0a0a0a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a0a0a', endColorstr='#a60a0a0a',GradientType=0 );
  /* IE6-9 */
  top: 0;
  content: "";
  display: block;
  left: 0;
  min-height: 920px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#mobile-navigation {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s;
  -moz-transition: max-height 0.2s;
  -ms-transition: max-height 0.2s;
  -o-transition: max-height 0.2s;
  transition: max-height 0.2s;
  z-index: 100;
}

#mobile-navigation.toggle {
  max-height: 900px;
}

#mobile-navigation a {
  background-color: #0a0a0a;
  color: #ffba00;
  display: block;
  padding: 12px;
}

#mobile-navigation a:not(:last-child) {
  border-bottom: 1px #171717 solid;
}

header {
  z-index: 10;
}

header .container {
  padding: 45px 0;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }
}

header .container nav {
  margin-bottom: -15px;
}

header .container nav li {
  display: inline-block;
  vertical-align: baseline;
  padding-bottom: 15px;
}

header .container nav li i.glyphicon {
  font-size: 12px;
}

header .container nav li ul {
  display: none;
  left: 0;
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 200%;
}

header .container nav li ul li {
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  padding: 12px 30px !important;
  text-align: left;
}

header .container nav li:hover ul {
  display: block;
}

header .container nav li:not(:last-child) {
  padding-left: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .container nav li:not(:last-child) {
    padding-left: 7px;
  }
}

@media only screen and (min-width: 1200px) {
  header .container nav li:nth-child(1) {
    -webkit-animation: bottom-opacity 0.15s ease;
    -moz-animation: bottom-opacity 0.15s ease;
    -ms-animation: bottom-opacity 0.15s ease;
  }
  header .container nav li:nth-child(2) {
    -webkit-animation: bottom-opacity 0.3s ease;
    -moz-animation: bottom-opacity 0.3s ease;
    -ms-animation: bottom-opacity 0.3s ease;
  }
  header .container nav li:nth-child(3) {
    -webkit-animation: bottom-opacity 0.45s ease;
    -moz-animation: bottom-opacity 0.45s ease;
    -ms-animation: bottom-opacity 0.45s ease;
  }
  header .container nav li:nth-child(4) {
    -webkit-animation: bottom-opacity 0.6s ease;
    -moz-animation: bottom-opacity 0.6s ease;
    -ms-animation: bottom-opacity 0.6s ease;
  }
  header .container nav li:nth-child(5) {
    -webkit-animation: bottom-opacity 0.75s ease;
    -moz-animation: bottom-opacity 0.75s ease;
    -ms-animation: bottom-opacity 0.75s ease;
  }
  header .container nav li:nth-child(6) {
    -webkit-animation: bottom-opacity 0.9s ease;
    -moz-animation: bottom-opacity 0.9s ease;
    -ms-animation: bottom-opacity 0.9s ease;
  }
  header .container nav li:nth-child(7) {
    -webkit-animation: bottom-opacity 1.05s ease;
    -moz-animation: bottom-opacity 1.05s ease;
    -ms-animation: bottom-opacity 1.05s ease;
  }
  header .container nav li:nth-child(8) {
    -webkit-animation: bottom-opacity 1.2s ease;
    -moz-animation: bottom-opacity 1.2s ease;
    -ms-animation: bottom-opacity 1.2s ease;
  }
  header .container nav li:nth-child(9) {
    -webkit-animation: bottom-opacity 1.35s ease;
    -moz-animation: bottom-opacity 1.35s ease;
    -ms-animation: bottom-opacity 1.35s ease;
  }
  header .container nav li:nth-child(10) {
    -webkit-animation: bottom-opacity 1.5s ease;
    -moz-animation: bottom-opacity 1.5s ease;
    -ms-animation: bottom-opacity 1.5s ease;
  }
  header .container nav li:nth-child(11) {
    -webkit-animation: bottom-opacity 1.65s ease;
    -moz-animation: bottom-opacity 1.65s ease;
    -ms-animation: bottom-opacity 1.65s ease;
  }
  header .container nav li:nth-child(12) {
    -webkit-animation: bottom-opacity 1.8s ease;
    -moz-animation: bottom-opacity 1.8s ease;
    -ms-animation: bottom-opacity 1.8s ease;
  }
  header .container nav li:nth-child(13) {
    -webkit-animation: bottom-opacity 1.95s ease;
    -moz-animation: bottom-opacity 1.95s ease;
    -ms-animation: bottom-opacity 1.95s ease;
  }
  header .container nav li:nth-child(14) {
    -webkit-animation: bottom-opacity 2.1s ease;
    -moz-animation: bottom-opacity 2.1s ease;
    -ms-animation: bottom-opacity 2.1s ease;
  }
  header .container nav li:nth-child(15) {
    -webkit-animation: bottom-opacity 2.25s ease;
    -moz-animation: bottom-opacity 2.25s ease;
    -ms-animation: bottom-opacity 2.25s ease;
  }
  header .container nav li:nth-child(16) {
    -webkit-animation: bottom-opacity 2.4s ease;
    -moz-animation: bottom-opacity 2.4s ease;
    -ms-animation: bottom-opacity 2.4s ease;
  }
  header .container nav li:nth-child(17) {
    -webkit-animation: bottom-opacity 2.55s ease;
    -moz-animation: bottom-opacity 2.55s ease;
    -ms-animation: bottom-opacity 2.55s ease;
  }
  header .container nav li:nth-child(18) {
    -webkit-animation: bottom-opacity 2.7s ease;
    -moz-animation: bottom-opacity 2.7s ease;
    -ms-animation: bottom-opacity 2.7s ease;
  }
  header .container nav li:nth-child(19) {
    -webkit-animation: bottom-opacity 2.85s ease;
    -moz-animation: bottom-opacity 2.85s ease;
    -ms-animation: bottom-opacity 2.85s ease;
  }
  header .container nav li:nth-child(20) {
    -webkit-animation: bottom-opacity 3s ease;
    -moz-animation: bottom-opacity 3s ease;
    -ms-animation: bottom-opacity 3s ease;
  }
}

header img {
  display: inline-block;
  max-width: 100%;
  width: auto;
}

header .social {
  color: #fff;
}

header .social li {
  display: inline-block;
  padding-left: 25px;
  padding-bottom: 25px;
  vertical-align: middle;
}

header .social li [class*="zocial-"]:before {
  font-size: 16px;
  height: initial;
  line-height: initial;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  header .social li {
    padding-left: 8px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  header .social li {
    padding-left: 8px;
  }
}

header nav {
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
}

header nav .glyphicon {
  font-size: 24px;
  text-align: center;
  width: 24px;
}

@media only screen and (min-width: 1200px) {
  header .logo {
    -webkit-animation: left-to-right 1000ms ease;
    -moz-animation: left-to-right 1000ms ease;
    -ms-animation: left-to-right 1000ms ease;
  }
}

#webdoor {
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

#webdoor [class*="btn"] {
  font-size: 1.125em;
  margin-top: 90px;
}

#webdoor .container {
  padding-right: 0;
  padding-left: 0;
}

#webdoor .flex-control-nav.flex-control-paging {
  bottom: initial;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  height: -moz-calc(100%);
  height: -webkit-calc(100%);
  height: -o-calc(100%);
  height: calc(100%);
  justify-content: flex-start;
  margin: 20px;
  right: 0px;
  top: 0;
  text-align: center;
  width: auto;
}

#webdoor .flex-control-nav.flex-control-paging > * {
  display: block;
  margin-bottom: 20px;
}

#webdoor .flex-control-nav.flex-control-paging > * a {
  height: 25px;
  width: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #webdoor .flex-control-nav.flex-control-paging {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
  }
  #webdoor .flex-control-nav.flex-control-paging > * {
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #webdoor .flex-control-nav.flex-control-paging {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
  }
  #webdoor .flex-control-nav.flex-control-paging > * {
    display: inline-block;
    vertical-align: middle;
  }
}

#webdoor .btn {
  padding: 24px 20px;
}

#webdoor h3 {
  color: #ffba00;
}

#content {
  margin-bottom: -130px;
  min-height: 200px;
}

#content #agenda {
  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
}

#content #agenda .agenda {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#content #agenda .agenda > * {
  -webkit-box-shadow: 0px 0px 25px -5px #000;
  -moz-box-shadow: 0px 0px 25px -5px #000;
  -ms-box-shadow: 0px 0px 25px -5px #000;
  box-shadow: 0px 0px 25px -5px #000;
  height: 390px;
  background-color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #agenda .agenda > * {
    height: auto;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #agenda .agenda > * {
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #content #agenda .agenda > * {
    height: 420px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #content #agenda .agenda > * {
    height: 450px;
  }
}

#content #agenda .agenda h6 {
  min-height: 36px;
}

#content #agenda .agenda--thumbnail {
  overflow: hidden;
}

#content #agenda .agenda--thumbnail > * {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 0;
  padding: 0 0 100%;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

#content #agenda .agenda--content {
  padding: 20px;
  padding-right: 40px;
}

#content #agenda .agenda--content [class*="btn"] {
  margin-top: 20px;
  padding: 8px 16px;
}

#content #agenda .agenda:hover [class*="thumbnail"] > * {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #agenda .agenda {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #agenda .agenda {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  #content #agenda .agenda:nth-child(1) {
    -webkit-animation: bottom-opacity 0.3s ease;
    -moz-animation: bottom-opacity 0.3s ease;
    -ms-animation: bottom-opacity 0.3s ease;
  }
  #content #agenda .agenda:nth-child(2) {
    -webkit-animation: bottom-opacity 0.6s ease;
    -moz-animation: bottom-opacity 0.6s ease;
    -ms-animation: bottom-opacity 0.6s ease;
  }
  #content #agenda .agenda:nth-child(3) {
    -webkit-animation: bottom-opacity 0.9s ease;
    -moz-animation: bottom-opacity 0.9s ease;
    -ms-animation: bottom-opacity 0.9s ease;
  }
  #content #agenda .agenda:nth-child(4) {
    -webkit-animation: bottom-opacity 1.2s ease;
    -moz-animation: bottom-opacity 1.2s ease;
    -ms-animation: bottom-opacity 1.2s ease;
  }
}

#content #agenda .lettering {
  font-size: 7vw;
  top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #agenda {
    display: block;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #agenda {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #content #agenda {
    display: block;
  }
}

#content .flexslider #agenda .agenda {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#content .flexslider #agenda .agenda > div {
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  -moz-box-shadow: 0px 0px 0px 0px #000;
  -ms-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  border: 1px #eaeaea solid;
}

#content .flexslider #agenda .agenda h6 {
  min-height: initial;
}

#content #intro-loja {
  padding: 20px 0;
}

#content #intro-loja .lettering {
  font-size: 13vw;
  top: -3vw;
}

#content #camarotes-disponiveis {
  padding: 0 15px 0;
  margin-top: 40px;
}

#content #camarotes-disponiveis .lettering {
  font-size: 8.5vw;
  top: -3vw;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #camarotes-disponiveis {
    margin-top: 0;
    padding-top: 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #camarotes-disponiveis {
    margin-top: 0;
    padding-top: 0;
  }
}

#content #noticia--destaque {
  display: block;
  margin: 0 auto 20px;
}

#content #noticia--destaque ~ h4 {
  margin-bottom: 0;
  text-transform: initial;
}

#content #noticia--destaque ~ small {
  color: #999;
  font-size: 0.75em;
}

#content .post--tags > * {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 30px;
}

#content .post--tags > *:not(:first-child):hover {
  text-decoration: underline;
}

#content .post--tags > *:not(:first-child):not(:last-child)::after {
  content: ",";
}

#content .post h5 {
  padding: 12px 0;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content .post h5 {
    zoom: .9;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content .post h5 {
    zoom: .9;
  }
}

#content .post p {
  padding: 30px 0 0;
}

#content .noticias {
  margin: 0 -15px -15px;
}

#content .noticias .noticia {
  margin-bottom: 15px;
}

#content .noticia#noticia-principal {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 30vw;
  margin: 0 auto 20px;
  justify-content: flex-end;
}

#content .noticia#noticia-principal div {
  color: #fff;
  padding: 30px;
  width: 100%;
}

#content .noticia#noticia-principal div > div {
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 70%;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content .noticia#noticia-principal div > div {
    max-width: 100%;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content .noticia#noticia-principal div > div {
    max-width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content .noticia#noticia-principal {
    height: auto;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content .noticia#noticia-principal {
    height: auto;
  }
}

#content #lojas-licenciadas > [class*="col"]:first-child {
  padding-left: 0;
  padding-right: 0;
}

#content #lojas-licenciadas [class*="container"] {
  padding-bottom: 60%;
}

#content #lojas-licenciadas__videos .flexslider .flex-direction-nav a {
  height: auto !important;
  margin-top: -60px;
  width: auto !important;
}

#content #lojas-licenciadas__videos .flexslider .flex-direction-nav a::before {
  background-color: #ffba00;
  font-size: 3.25em;
}

#content #lojas-licenciadas__videos .slides {
  text-align: center;
}

#content #lojas-licenciadas__videos .slides * {
  text-transform: initial;
}

#content #lojas-licenciadas__videos .slides p {
  color: #ffba00;
  font-weight: bold;
  line-height: 1.6em;
  padding: 8px 0 0;
  text-transform: uppercase;
}

#content #lojas-licenciadas__videos .slides p span {
  color: #999;
  font-weight: normal;
}

#content #lojas-licenciadas__videos .slides img {
  border: 1px #999 solid;
  margin: 0 auto 8px;
}

#content #loja {
  color: #fff;
  margin-top: -52px;
  z-index: 1;
}

#content #loja--bg {
  background-image: url(./assets/css/img/loja.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: -10%;
  position: absolute;
  top: 0;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  width: 120%;
  z-index: 1;
}

#content #loja [class*="btn"] {
  margin-top: 30px;
  padding: 25px 80px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #loja [class*="btn"] {
    display: block;
    padding: 25px 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #loja [class*="btn"] {
    display: block;
    padding: 25px 0;
  }
}

#content #loja .container {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  height: 484px;
  padding-bottom: 90px;
}

#content #loja .container > *:not([id]) {
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
  z-index: 3;
}

#content #como-chegar {
  overflow: hidden;
}

#content #como-chegar #map {
  position: absolute;
  height: 100%;
  left: -50%;
  overflow: hidden;
  transform: skew(-45deg);
  width: 100%;
  z-index: 4;
}

#content #como-chegar #map > * {
  height: 100%;
  left: 50% !important;
  transform: skew(45deg);
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #content #como-chegar #map > * {
    left: 0 !important;
    transform: skew(0deg);
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #como-chegar #map > * {
    left: 0 !important;
    transform: skew(0deg);
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #como-chegar #map > * {
    left: 0 !important;
    transform: skew(0deg);
  }
}

#content #como-chegar--mapa {
  background-color: #303030;
  overflow: hidden;
}

#content #como-chegar .container {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#content #como-chegar [class*="btn"] {
  padding: 12px 20px;
  max-width: 180px;
}

#content #como-chegar [class*="col"] {
  color: #fff;
  z-index: 2;
}

#content #como-chegar [class*="col"]:last-of-type {
  padding-bottom: 80px;
  padding-top: 200px;
}

#content #como-chegar [class*="col"]:last-of-type img, #content #como-chegar [class*="col"]:last-of-type img ~ *:not(:last-child) {
  margin-bottom: 30px;
}

#content #como-chegar * {
  display: block;
}

#content #como-chegar h7, #content #como-chegar p strong, p #content #como-chegar strong {
  color: #ffba00;
}

#content #galeria .flex-viewport .slides li,
#content #galeria .flex-viewport .slides,
#content #galeria .flex-viewport {
  height: 100%;
}

#content #galeria .slide {
  margin-bottom: 6px;
  height: 500px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #galeria .slide {
    max-height: 250px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #galeria .slide {
    max-height: 250px;
  }
}

#content #galeria .lettering {
  font-size: 12.5vw;
  top: -62px;
}

#content #galeria .carousel .slides li {
  height: 100px;
  overflow: hidden;
}

#content #galeria .carousel .flex-direction-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#content #galeria .carousel .flex-direction-nav a {
  height: 2.5vw;
  width: 2.5vw;
}

#content #galeria .carousel .flex-direction-nav a::before {
  font-size: 2.5vw;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  #content #galeria .carousel .flex-direction-nav a[class*="prev"] {
    opacity: 1;
    left: 0;
  }
  #content #galeria .carousel .flex-direction-nav a[class*="next"] {
    opacity: 1;
    right: 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  #content #galeria .carousel .flex-direction-nav a[class*="prev"] {
    opacity: 1;
    left: 0;
  }
  #content #galeria .carousel .flex-direction-nav a[class*="next"] {
    opacity: 1;
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #content #galeria .carousel .flex-direction-nav a[class*="prev"] {
    opacity: 1;
    left: 0;
  }
  #content #galeria .carousel .flex-direction-nav a[class*="next"] {
    opacity: 1;
    right: 0;
  }
}

#content #galeria div img {
  height: 100%;
  min-width: 100%;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  #content #galeria {
    padding-top: 10vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
  #content a > i {
    display: none;
  }
}

#content * {
  z-index: 2;
}

#content .container {
  background-color: #fff;
  min-height: 200px;
  overflow: hidden;
  padding: 20px;
}

#content .container h4:not(:only-child) {
  margin: 20px auto;
}

main {
  z-index: 3;
}

footer {
  background-color: #171717;
  color: #fff;
  z-index: 2;
}

footer #sponsors {
  text-align: center;
  margin: 20px auto 15px;
  overflow: hidden;
}

footer #sponsors img {
  display: inline-block;
  max-height: 45px;
  opacity: .5;
  padding: 0 15px 15px;
  vertical-align: middle;
}

footer #sponsors a img {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

footer #sponsors a:hover img {
  filter: none;
  -moz-filter: none;
  -webkit-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

footer .container {
  padding: 160px 20px 20px 20px;
}

footer nav {
  text-align: center;
  text-transform: uppercase;
}

footer nav > a {
  display: inline-block;
  padding: 0 20px 20px;
  vertical-align: middle;
}

footer p {
  color: #999;
  font-size: 0.75em;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
}

h1, .banner--interno h2 {
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  text-transform: uppercase;
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
}

h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h7, p strong {
  text-transform: uppercase;
  font-weight: 600;
}

h3,
h1,
.banner--interno h2 {
  font-size: 3.0625em;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
}

@media only screen and (min-width: 1200px) {
  h4 {
    -webkit-animation: opacity 1000ms ease;
    -moz-animation: opacity 1000ms ease;
    -ms-animation: opacity 1000ms ease;
  }
  h4 a:hover {
    color: #ffba00;
  }
  h4 a:hover i {
    -webkit-animation: left-to-right__min 2s ease;
    -moz-animation: left-to-right__min 2s ease;
    -ms-animation: left-to-right__min 2s ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

h7, p strong {
  font-size: 1.5625em;
}

h4, h5, h6 {
  font-weight: 700;
}

h5, h6, p {
  font-size: 1em;
}

p.alerta {
  color: #fff;
  margin-left: -20px !important;
  margin-right: -20px !important;
  padding: 20px 30px !important;
}

p.alerta [class*="btn"] {
  display: block;
  margin: 12px 0 0;
  max-width: 280px;
  padding: 20px 12px;
}

p.alerta.atencao {
  background-color: #4c4c4c;
}

p.alerta.aviso {
  background-color: #000;
}

p.alerta.aviso i {
  color: #ffba00;
}

p strong {
  display: block;
  text-transform: initial;
}

p strong.hr {
  border-top: 1px #eaeaea solid;
  display: block;
  padding: 20px 0 0;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  p strong {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  p strong {
    font-size: 1.5em;
  }
}

p b {
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  h1, .banner--interno h2 {
    font-size: 1.875em;
  }
  h4 {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  h1, .banner--interno h2 {
    font-size: 1.875em;
  }
  h4 {
    font-size: 1.25em;
  }
}

.paginacao {
  text-align: center;
  margin: 45px auto 30px;
}

.paginacao * {
  display: inline-block;
  font-size: 0.875em;
  vertical-align: middle;
}

.paginacao *:not(:last-child):not(:nth-last-child(2))::after {
  content: ",";
  display: inline-block;
  vertical-align: bottom;
}

.paginacao *:hover, .paginacao *.active {
  font-size: 1.5em;
  font-weight: 600;
}

.mais {
  text-transform: uppercase;
  text-decoration: underline;
}

.ingresso {
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.ingresso > div:first-child {
  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
}

.ingresso > div:first-child [class*="col"]:first-child {
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  background-color: #000;
  color: #ffc833;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.ingresso > div:first-child [class*="col"]:first-child b {
  display: block;
  font-size: 2.5em;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .ingresso > div:first-child [class*="col"]:first-child {
    font-size: 0.625em;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .ingresso > div:first-child [class*="col"]:first-child {
    font-size: 0.625em;
  }
}

.ingresso > div:first-child [class*="col"]:last-child {
  padding-right: 0;
  padding-left: 0;
}

.ingresso > div:last-child {
  margin: 8px 0 0;
}

.ingresso > div:last-child > * {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .ingresso > div:last-child > * {
    display: block;
    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .ingresso > div:last-child > * {
    display: block;
    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}

.ingresso [class*="btn"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ingresso h4 {
  margin: 8px 0 !important;
  text-transform: initial;
}

.evento .galeria {
  overflow: hidden;
}

.evento:not(:last-child) {
  margin-bottom: 30px;
}

.evento [class*="carousel"] {
  margin: 6px auto 30px;
}

.evento h1, .evento .banner--interno h2, .banner--interno .evento h2 {
  margin-bottom: 30px;
}

.evento .tags {
  margin: 12px auto -12px;
  text-align: center;
}

.evento .tags > * {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 0 4px 8px;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .evento .tags > * {
    margin: 0 0 8px;
    width: 100%;
  }
}

[class*="carousel"] {
  height: auto;
}

#page--title {
  color: rgba(255, 255, 255, 0.2);
  font-size: 7.6vw;
  margin-bottom: -3.6vw;
  word-break: break-all;
}

@media only screen and (min-width: 1200px) {
  #page--title {
    -webkit-animation: bottom-opacity 1000ms ease;
    -moz-animation: bottom-opacity 1000ms ease;
    -ms-animation: bottom-opacity 1000ms ease;
  }
}

.intrinsic-container {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 45%;
}

.intrinsic-container * {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flexslider {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}

.flexslider .flex-direction-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.flexslider .flex-direction-nav a {
  height: 4vw;
  width: 4vw;
  text-align: center;
}

.flexslider .flex-direction-nav a::before {
  font-size: 4vw;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .flexslider .flex-direction-nav a {
    margin: 0 0 0;
    height: 8vw;
    width: 8vw;
  }
  .flexslider .flex-direction-nav a::before {
    font-size: 8vw;
  }
  .flexslider .flex-direction-nav a[class*="prev"] {
    opacity: 1;
    left: 0;
  }
  .flexslider .flex-direction-nav a[class*="next"] {
    opacity: 1;
    right: 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .flexslider .flex-direction-nav a {
    margin: 0 0 0;
    height: 8vw;
    width: 8vw;
  }
  .flexslider .flex-direction-nav a::before {
    font-size: 8vw;
  }
  .flexslider .flex-direction-nav a[class*="prev"] {
    opacity: 1;
    left: 0;
  }
  .flexslider .flex-direction-nav a[class*="next"] {
    opacity: 1;
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .flexslider .flex-direction-nav a {
    height: 8vw;
    width: 8vw;
  }
  .flexslider .flex-direction-nav a::before {
    font-size: 8vw;
  }
  .flexslider .flex-direction-nav a[class*="prev"] {
    opacity: 1;
    left: 0;
  }
  .flexslider .flex-direction-nav a[class*="next"] {
    opacity: 1;
    right: 0;
  }
}

.flexslider .flex-control-paging {
  z-index: 100;
}

.flexslider .flex-control-paging a {
  background: #474747;
}

.flexslider .flex-control-paging a:hover, .flexslider .flex-control-paging a.flex-active {
  background: #fff;
}

#content .lettering {
  color: rgba(0, 0, 0, 0.05);
  display: block;
  font-weight: 800;
  left: 0;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

#content .mask {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#content .mask .container {
  background-color: transparent;
}

#content .mask .container::after {
  bottom: -4px;
  content: url(./assets/css/img/mask_after.png);
}

#content .mask .container::before {
  top: 0;
  content: url(./assets/css/img/mask_before.png);
}

#content .mask .container::after, #content .mask .container::before {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

section {
  width: 100%;
}

nav a:hover {
  color: #ffba00;
}

.container {
  max-width: 1180px;
}

.btn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.btn--1 {
  border-color: #ffba00;
  color: #ffba00;
}

@media only screen and (min-width: 1200px) {
  .btn--1:hover {
    background-color: #ffba00;
    color: #000;
  }
}

.btn--2 {
  border-color: #000;
  color: #000;
  font-size: 0.875em;
}

@media only screen and (min-width: 1200px) {
  .btn--2:hover {
    background-color: #000;
    color: #fff;
  }
}

.btn--3 {
  background-color: #ffba00;
  border-color: transparent;
  color: #000;
  font-size: 1.25em;
}

@media only screen and (min-width: 1200px) {
  .btn--3:hover {
    background-color: transparent;
    border-color: #ffba00;
    color: #ffba00;
  }
}

.btn--4 {
  background-color: #fff;
  border-color: transparent;
  color: #000;
  font-size: 0.875em;
}

@media only screen and (min-width: 1200px) {
  .btn--4:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}

.btn--5 {
  background-color: #000;
  border-color: transparent;
  color: #fff;
  font-size: 0.875em;
}

.btn--5:hover {
  background-color: #ffba00;
}

.v-center {
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.banner--interno {
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 125px;
  justify-content: center;
  padding: 0 15px;
  width: 100%;
}

.banner--interno::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.banner--interno > * {
  z-index: 2;
}

.banner--interno ~ p {
  padding: 0 15px;
  margin: 20px auto;
}

.banner--interno ~ p:last-child {
  padding-bottom: 0;
}

.banner--interno ~ p a {
  word-break: break-all;
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
  .banner--interno h1, .banner--interno h2 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  .banner--interno h1, .banner--interno h2 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .banner--interno {
    height: auto;
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
  .banner--interno {
    height: auto;
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner--interno {
    height: auto;
    padding: 20px 15px;
  }
}

@media (min-width: 1200px) {
  header nav .visible-lg {
    display: inline-block !important;
  }
}

@media (max-width: 1199px) {
  #content #como-chegar #map {
    height: 380px;
    left: 0 !important;
    position: relative;
    transform: skew(0deg);
  }
  #content #como-chegar #map > * {
    left: 0 !important;
    transform: skew(0deg);
  }
  #content #como-chegar [class*="col"]:last-of-type {
    padding-top: 80px;
  }
  #content #como-chegar [class*="col"]:last-of-type * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body * {
    line-height: 1;
  }
  #como-chegar--mapa {
    margin: -5px 0;
  }
}
